<appSettings>
  <add key="qldt.domains" value="http://localhost:63725" />
  <add key="qldt.allowmethods" value="GET,POST,PUT,DELETE" />
  <add key="qldt.allowheaders" value="Origin, X-Requested-With, Content-Type, Accept, Authorization, PositionID, CompanyID, EmployeeID" />
  <add key="qldt.uploadfiletemp" value="~/Data/Temp" />
  <add key="qldt.uploadfileread" value="~/Data/Upload" />
  <add key="qldt.email" value="~/Data/Email" />
  <add key="qldt.imgemployee" value="~/Data/Employee" />
  <add key="qldt.imgemployee" value="~/Data/Template" />
  <add key="MailFrom" value="haigv1997@gmail.com" />
  <add key="PassMailFrom" value="Poioqrwwip 142280" />
  <add key="MailServer" value="smtp.gmail.com" />
  <add key="PortMailServer" value="25" />
</appSettings>