<connectionStrings>
  <!--<add name="ConnectionString" connectionString="Server=123.30.236.5\SQL2014;Database=QLDT_TEMP;User ID=sa;Password=abc@123321;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
  <!--<add name="ConnectionString" connectionString="Server=103.242.53.31,1980;Database=QLDT;User ID=dev_mtct;Password=123456;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
  <add name="ConnectionString" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=QLDT;Integrated Security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>