<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="AppName" value="BECore"/>

  <targets async="true">
    <target  name="LoggerTrace" xsi:type="File" archiveEvery="Day"
               maxArchiveFiles="30"
               fileName="${basedir}../Logs/BEcore.Trace.log" layout="${longdate}: ${message}" />

    <target name="LoggerDebug" xsi:type="File" archiveEvery="Day"
              maxArchiveFiles="30"
              fileName="${basedir}../Logs/BEcore.Debug.log" layout="${longdate}: ${message}" />

    <target name="LoggerWarn" xsi:type="File" archiveEvery="Day"
           maxArchiveFiles="30"
           fileName="${basedir}../Logs/BEcore.Warn.log" layout="${longdate}: ${message}" />

    <target name="LoggerInfo" xsi:type="File" archiveEvery="Day"
             maxArchiveFiles="30"
             fileName="${basedir}../Logs/BEcore.Info.log" layout="${longdate}: ${message}" />
    <target name="LoggerError" xsi:type="File" archiveEvery="Day"
             maxArchiveFiles="30"
             fileName="${basedir}../Logs/BEcore.Error.log" layout="${longdate}: ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="LoggerTrace" />
    <logger name="*" minlevel="Debug" writeTo="LoggerDebug" />
    <logger name="*" minlevel="Warn" writeTo="LoggerWarn" />
    <logger name="*" minlevel="Info" writeTo="LoggerInfo" />
    <logger name="*" minlevel="Error" writeTo="LoggerError" />
  </rules>
</nlog>
