@{
    Layout = null;
    string token = Request.QueryString["token"];
}
<!DOCTYPE html>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
    <title>Môi trường công thương - Đặt lại mật khẩu</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="~/favicon.ico">
    <link href="../resources/css/ResetPassword.css" rel="stylesheet" />
    <script src="~/Config.js"></script>
    <script src="~/scripts/jquery-1.8.0.min.js"></script>
    <script src="~/scripts/SetNewPassword.js"></script>
</head>
<body>
    <div class="container">
        <div class="row-1"></div>
        <div class="row-2">
            <div class="body-reset" style="display:none">
                <div class="header">
                    <p>Đặt lại mật khẩu</p>
                </div>
                <div id="lblerror"></div>
                <div class="body-input">
                    <div class="wrap-control">
                        <label class="lablel">Mật khẩu mới</label>
                        <div class="input-text"><input type="text" id="txtPassword" name="Password" placeholder="Mật khẩu mới" /></div>
                    </div>
                    <div class="wrap-control">
                        <label class="lablel">Xác nhận mật khẩu</label>
                        <div class="input-text"><input type="text" id="txtConfirmPassword" name="ConfirmPassword" placeholder="Nhập lại mật khẩu" /></div>
                    </div>
                    <div id="maskLogin" style="display:none">
                        <img src="~/resources/images/loader.gif" />
                    </div>
                </div>
                <div class="footer-content">
                    <a href="javascript:void(0)" id="btnSetNewPassword">Cập nhật mật khẩu mới</a>
                </div>
            </div>
            <div class="body-sendlink" >
                <p class="msg">Link kích hoạt đã hết hiệu lực. Vui lòng kiểm tra lại.</p>
            </div>
            <div class="footer-success" style="display:none">
                <a href="/Account/Logout" id="btnLogin">Đăng nhập ngay</a>
            </div>
        </div>
        <div class="row-3"></div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        myResetPassword.init();
    });
</script>

