@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/resources/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('/resources/fonts/Roboto-Italic.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/resources/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('/resources/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/resources/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('/resources/fonts/Roboto-BoldItalic.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/resources/fonts/Roboto-Black.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('/resources/fonts/Roboto-BlackItalic.ttf');
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Roboto',sans-serif,Tahoma;
}
body{
     display:flex;
     background-color:#e5e5e5;
}
.container{
     -webkit-flex: 1; /* Safari 6.1+ */
     -ms-flex: 1; /* IE 10 */ 
     flex: 1;
     display:flex;
     flex-direction:column;
     -ms-flex-direction:column;
     -webkit-flex-direction:column;
}
.row-1,.row-3{
    -webkit-flex: 1; /* Safari 6.1+ */
     -ms-flex: 1; /* IE 10 */ 
     flex: 1;
}
.row-2{
     width:auto;    
     display:flex;
     flex-direction:row;
     -ms-flex-direction:row;
     -webkit-flex-direction:row;
     justify-content:center;
     align-content:center;
}
.body-reset{
    width:380px;
    border:1px solid #d1d1d1;
    padding:16px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background-color:white;
     display:flex;
     flex-direction:column;
     -ms-flex-direction:column;
     -webkit-flex-direction:column;
}
.body-sendlink{
    width:380px;
    border:1px solid #d1d1d1;
    padding:16px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background-color:white;
     display:flex;
     flex-direction:column;
     -ms-flex-direction:column;
     -webkit-flex-direction:column;
     box-shadow:rgba(0,0,0,0.26) 0 0 0 12px ;
     -moz-box-shadow:rgba(0,0,0,0.26) 0 0 0 12px ;
     -webkit-box-shadow:rgba(0,0,0,0.26) 0 0 0 12px ;
}
.body-success{
    width:380px;
    border:1px solid #d1d1d1;
    padding:16px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background-color:white;
     display:flex;
     flex-direction:column;
     -ms-flex-direction:column;
     -webkit-flex-direction:column;
     box-shadow:rgba(0,0,0,0.26) 0 0 0 12px ;
     -moz-box-shadow:rgba(0,0,0,0.26) 0 0 0 12px ;
     -webkit-box-shadow:rgba(0,0,0,0.26) 0 0 0 12px ;
}
.body-sendlink>p,.body-success>p{
    font-weight:700;
}
.cls-email{
   color:#026b97;
}
.header>p{
    text-align:center;
    font-weight:600;
    font-size:22px;
    padding:0 10px;
    margin:0;
}
.footer-content,.footer-success{
     display:flex;
     flex-direction:row;
     -ms-flex-direction:row;
     -webkit-flex-direction:row;
     justify-content:center;
     padding-top:10px;
}

.footer-content>a,.footer-success>a{
   text-transform:uppercase;
   font-size:13px;
   font-weight:500;
   padding:8px 10px;
   border:1px solid #026b97;
   background-color:#026b97;
   border-radius:4px;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
   align-items:flex-end;
   color:white;
   text-decoration:none;
}

.footer-content>a:hover,.footer-success>a:hover{
   background-color:#0088c2;
}
.footer-content>a:active,.footer-success>a:active{
   background-color:#00577b;
}
.input-text>input{
   width:100%;
   height:36px;
   padding:8px 10px;
   box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
}
.wrap-control{
    padding:10px 0 0 0;
}
.wrap-control>.lablel{
    display: inline-block;
    margin-bottom: 8px;
    color:#212121;
    font-weight:400;
}

.icon-refresh{
    display:inline-block;
    width:30px;
    height:30px;
    background:url('/resources/images/refresh.png')  no-repeat center center;
}
.btn-refresh.icon-refresh{
    cursor:pointer;
    margin-left:4px;
}
.btn-refresh.icon-refresh:hover{
    border:1px solid #0088c2;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.btn-refresh.icon-refresh:active{
    border:1px solid #00577b;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
     border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
#lblerror{
    color:red;
    font-weight:700;
    font-size:14px;
    padding:10px 0 2px 0;
}
#maskLogin,#maskSuccess{
    position: absolute;
    display: block;
    text-align: center;
    top: 40%;
    left: 40%;
    background-color: #000;
}
.body-reset,.body-success{
    position:relative;
}